.board_container {
    height: 100px;
    width: 220px;
    background-color: #EBECF0;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    
    input {
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        height: 50px;
        border-radius: 5px;
        width: 200px;
        padding: 2px;
        text-align: start;
    }
}

.board_header{
    font-size: 12px;
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: 5px;

    button {
        background-color: #157ebb;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 10px;
    }
}