.login_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    height: 500px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 200px;
      height: 25px;
      margin: 8px;
      border: 1px solid rgb(147, 146, 146);
      border-radius: 2px;
    }

    button {
      width: 200px;
      height: 20px;
      margin: 5px;
      border: none;
      background-color: #61bd4f;
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      color: white;
      border-radius: 4px;
    }

    span {
      margin-top: 5px;
      color: red;
      font-size: 10px;
    }

    .login_header {
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      margin: 10px;
      color: rgb(76, 74, 74);
    }
    .signup_text {
      font-size: 10px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      margin: 10px;
      color: #0079bf;
    }

    .or {
      font-size: 9px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      margin: 12px;
      color: rgb(76, 74, 74);
    }
    .google {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 25px;
      font-size: 12px;
      font-weight: 400;
      color:rgb(76, 74, 74);
      margin-left: 50px;
      border-radius: 2px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .google:hover {
      background-color: #676b6c;
      color: white;
    }
  }
}
